version: '3'
services:
  server:
    build: .
    environment:
      - FLASK_ENV=development
      - PORT=5000
    ports:
      - "5000:5000"
    volumes:
      - ./:/app
    working_dir: /app
    command: >
      bash -c "python /app/src/app.py"